<%- include('./includes/admin-pages-header.ejs') %>

    <!-- CONTAINER  -->
    <div class="mainContent">
        <!-- CATE LIST    -->
        <div class="table">
            <div class="row bg-1">
                <div class="cell cell-100 text-center text-fff">
                    <h2>Support</h2>
                </div>
            </div>
            <!--    BEGIN LOOP -->
            <ul>
                <li class="row">
                    <div class="cell cell-100 text-center"></div>
                    <div class="cell cell-100p text-center"><span>We provide 24x7 support for our customers. Mail to below address for support</span><br><a href="">dev.suhada@gmail.com</a></div>
                </li>
            </ul>
            <!--    END LOOP -->
        </div>


    </div>
    </div>
    <!-- END CONTAINER  -->

    <%- include('./includes/admin-pages-footer.ejs') %>