<%- include('./includes/admin-pages-header.ejs') %>

    <!-- CONTAINER  -->
    <div class="mainContent">
        <!-- LIST FORM -->
        <div class="row filterGroup">
            <!-- foram search document  -->
            <form action="" method="POST" class="formSearch fl">
                <input type="text" class="inputSearch" placeholder="Search">
                <button type="submit" class="btnSearch"><i class="fa fa-search"></i></button>
            </form>
        </div>

        <form action="" method="GET" name="listForm" class="form scrollX">
            <div class="formHeader row">
                <h2 class="text-1 fl">Document List</h2>
            </div>
            <div class="table">
                <!-- table header  -->
                <div class="row bg-1">
                    <div class="cell cell-50 text-center text-fff">ID</div>
                    <div class="cell cell-100 text-center text-fff">CATEGORY</div>
                    <div class="cell cell-100 text-fff">IMAGE</div>
                    <div class="cell cell-100 text-fff">IMAGE</div>
                    <div class="cell cell-100p text-fff">IMAGE</div>
                    <div class="cell cell-100 text-fff">NAME</div>
                    <div class="cell cell-100 text-center text-fff">EDIT</div>
                </div>
                <!-- table value  BEGIN LOOP -->
                <ul>
                    <li class="row">
                        <div class="cell cell-50 text-center">1111</div>
                        <div class="cell cell-100 text-center">1</div>
                        <div class="cell cell-100 text-center">
                            <a href=""><img src="http://bookstore.crunchpress.com/wp-content/uploads/2013/05/b2.jpg" alt="" width="50"></a>
                        </div>
                        <div class="cell cell-100p"><a href="">PRODUCT 01</a></div>

                    </li>
                    <li class="row">
                        <div class="cell cell-50 text-center">1111</div>
                        <div class="cell cell-100 text-center">1</div>
                        <div class="cell cell-100 text-center">
                            <a href=""><img src="http://bookstore.crunchpress.com/wp-content/uploads/2013/05/b2.jpg" alt="" width="50"></a>
                        </div>
                        <div class="cell cell-100p"><a href="">PRODUCT 01</a></div>


                    </li>
                </ul>
                <!--   END LOOP -->
            </div>
        </form>

        <div id="pagination">
            <ul class="pagination list-inline text-center">
                <li><a href="?page=1">1</a></li>
                <li class="is-active"><a href="?page=2">2</a></li>
                <li><a href="?page=3">3</a></li>
                <li><a href="?page=4">4</a></li>
                <li><a href="?page=5">5</a></li>
            </ul>
        </div>
    </div>
    </div>
    <!-- END CONTAINER  -->

    <%- include('./includes/admin-pages-footer.ejs') %>